<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# <div class="container">
  <div class="parallax-container">
    <%= yield %>
  <%# </div> %>
  </div>

<div class="container">
  <div class="parallax-container">
    <div class="background">
    <img class="background__image" src="https://source.unsplash.com/random" />
    </div>
    <div class="foreground">

    <%= yield %>

    </div>
  </div>
</div>

  </body>
</html>
